 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(15, 13, 13);
}

li { float: left; }

li a {
	display: block;
	color: rgb(44, 177, 73);
	padding: 10px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(31, 165, 26);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #2705e7;
    color: white;
  }
  
.thisbody{ background: url("Capture.PNG") no-repeat fixed; float: left;}

.navbar-nav{width:100%;}









